.venv/*
!.venv/

.venv/lib/*
!.venv/lib/

.venv/lib/python3.11/*
!.venv/lib/python3.11/

.venv/lib/python3.11/site-packages/*
!.venv/lib/python3.11/site-packages/
!.venv/lib/python3.11/site-packages/pymdp/
!.venv/lib/python3.11/site-packages/pymdp/*

logs/
*/__pycache__/
runs/wandb/
debug/results/
